/ProjectCalcFX/ProjectCalcFX/build/
/ProjectCalcFX/ProjectCalcFX/dist/
/ProjectCalcFX/ProjectCalcFX/nbproject/
/ProjectCalcFX/ProjectCalcFX/build.xml
/ProjectCalcFX/ProjectCalcFX/manifest.mf
/ProjectCalcFX/ProjectCalcJava/nbproject/
/ProjectCalcFX/ProjectCalcJava/build.xml
/ProjectCalcFX/ProjectCalcJava/manifest.mf